# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# Android
**/android/**/local.properties
**/android/**/gradle.properties
**/android/.gradle/

# iOS
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Runner.xcworkspace/

# VS Code
.vscode/

# Others
.idea/
*.iml

# Database
# Scripts SQL de MySQL (ya no se usan, pero se mantienen como referencia)
database/backup*.sql
database/*.ibd
database/*.frm
!database/init.sql
!database/seed*.sql

# SQLite - puedes descomentar la siguiente línea si NO quieres versionar el archivo .db
# *.db

# Backend
backend/node_modules/
backend/.env
backend/.env.local
